@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Store Area</title>
</head>
<body>
    
    <div>
        <h1>Store Area</h1>
        @RenderBody()
    </div>
</body>
</html>
